<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Web Genesis &trade;</title>

    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    @*@Styles.Render("~/Content/Master")*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("head", required: false)
    @*@Scripts.Render("~/Scripts/Master")*@
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
</head>

<body>
    <!-- Navigation -->
    @RenderSection("NewRequestBanner", false)
    <!-- Begin page content -->
    <!--<div class="container">-->
    <br />
    <br />
    @RenderSection("PageTitle", false)

    <div id="genesisContainer">
        <br />
        @RenderBody()
    </div>
    <!--</div>-->

    @*@Html.Partial("_Footer")*@


    @RenderSection("Scripts", false)
</body>
</html>