
@section scripts {
    @*@Scripts.Render("~/Scripts/b-grid")*@
    
    <script src="~/Scripts/jquery-1.6.2.js"></script>
    <script type="text/javascript">
        var groupingEnabled = true;
        $('#EnableGroupingButton').click(function() {
            if (groupingEnabled) {
                //disable grouping
                gridView.PerformCallback({ UseGrouping: "ungroup" });
                $('#EnableGroupingButton').html("Show Categories");
            }
            else {
                //enable grouping
                gridView.PerformCallback({ UseGrouping: "group" });
                $('#EnableGroupingButton').html("Show All");
            }
            groupingEnabled = !groupingEnabled;
        });
    </script>
}
@section PageTitle
{
    <br />
    <div class="page-header row-fluid">
        <h3>
            Hotel Invoices
        </h3>
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div id="SearchContainer">
            <br /><br />

            <form action="@Url.Action("List")" class="form-inline">
                <span class="add-on">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <input class="input-small text-center datepicker  form-control" type="text" id="StartDate" name="begindate" value="@ViewData["BeginDate"]" />
                <span class="add-on">-</span>
                <input class="input-small text-center datepicker  form-control" type="text" id="EndDate" name="enddate" value="@ViewData["EndDate"]" />
                <input type="submit" name="submit" value="Search Invoices" class="btn btn-success" />
                <a href="@Url.Action("ExportToExcel")@Request.Url.Query" class="excel-list form-control"><img src="~/Content/images/xls.gif"/>@*@Html.Image("~/Content/images/xls.gif")*@</a>
                <button type="button" id="EnableGroupingButton" class="btn btn-success">Show All</button>
            </form>
                <br /><br />
            
        </div>
    </div>

    <div class="col-md-12">
        <div>
            @Html.Action("_responsiveGrid")
        </div>
    </div>
</div>